# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
.vite/

# Local env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

# Visual Studio legacy
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test / Temp
coverage/
*.tmp
*.temp
